{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block styles %}
{{ super() }}
<style>
  .form-check-input {
    margin-top: 0;
    width: 1.55rem;
    height: 1.55rem;
  }
  .form-check-label {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h2 class="py-4">Edit estimate</h2>
    <form method="post" novalidate>
      {{ form.csrf_token() }}
      {{ render_field(form.item) }}
      {{ render_field(form.estimate) }}
      {{ render_field(form.due) }}
      {{ render_field(form.comments) }}
      {{ render_field(form.active) }}
      <button type="submit" class="btn btn-primary mr-2">Save</button>
      <a href="{{ url_for('budget.get_entry', id=id, page=page) }}" class="btn btn-warning">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
