{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block styles %}
{{ super() }}
<style>
  .table {
    background-color: #f5f5f5;
  }
  .table-bordered,
  .table-bordered td,
  .table-bordered th {
    border: 1px solid #999;
  }
</style>
{% endblock %}

{% block content %}
<a href="{{ url_for('budget.get_entry', id=budget_id, page=budget_page) }}" class="btn btn-secondary">Back</a>
<h2 class="my-3">List of all related expenses</h2>
{% set back = 'budget.related_expenses' %}
{% include 'fragments/list.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
