{% extends 'auth/base.html' %}

{% block content %}
<a href="{{ url_for('main.index') }}" class="btn btn-secondary">Back</a>
<h1 class="text-center font-weight-bold my-3">Sign in</h1>
<div class="row">
  <div class="col-sm-4 offset-sm-4">
    {{ render_form(form, novalidate=True) }}
    <p class="lead mt-4"><img src="{{ url_for('static', filename='images/icons/user-plus.svg') }}" alt="user" class="icon"> No account? <a href="{{ url_for('auth.register') }}">Sign up</a></p>

    <p class="lead"><img src="{{ url_for('static', filename='images/icons/key.svg') }}" alt="user" class="icon"> <a href="{{ url_for('auth.password_reset_request') }}">Forgot password</a></p>
    
    {% if request.args.get('next') %}
      <p class="lead"><img src="{{ url_for('static', filename='images/icons/google.svg') }}" alt="user" class="icon"> <a href="{{ url_for('auth.google_login', next=request.args.get('next')) }}">Sign in with Google</a></p>

      <p class="lead"><img src="{{ url_for('static', filename='images/icons/twitter.svg') }}" alt="user" class="icon"> <a href="{{ url_for('auth.twitter_login', next=request.args.get('next')) }}">Sign in with Twitter</a></p>
    {% else %}
      <p class="lead"><img src="{{ url_for('static', filename='images/icons/google.svg') }}" alt="user" class="icon"> <a href="{{ url_for('auth.google_login') }}">Sign in with Google</a></p>

      <p class="lead"><img src="{{ url_for('static', filename='images/icons/twitter.svg') }}" alt="user" class="icon"> <a href="{{ url_for('auth.twitter_login') }}">Sign in with Twitter</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
