body {
  background-color: #f5fafe;
  overflow-x: hidden;
}
.jumbotron {
  background: url(/static/images/money-small.jpg) center / cover no-repeat scroll;
  height: 75vh;
  margin-bottom: 0;
}
.jumbotron span {
  background-color: #fff;
}
.jumbotron h1 {
  font-weight: bold;
}
#signin-btn {
  padding: 5px;
  display: inline-block;
}
.hidden {
  opacity: 0;
}
img {
  width: 400px;
  height: 400px;
}
@media (min-width: 576px) {
  .jumbotron {
    background: url(/static/images/money.jpg) center / cover no-repeat fixed;
  }  
}
