{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block styles %}
{{ super() }}
<style>
  .table {
    background-color: #f5f5f5;
  }
  .table-bordered,
  .table-bordered td,
  .table-bordered th {
    border: 1px solid #999;
  }
</style>
{% endblock %}

{% block content %}
<h2 class="py-4">List of expenses in {{ year }}</h2>
{% set back = 'expense.list_expenses' %}
{% set no_data_msg = 'No data.' %}
{% include 'fragments/list.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
